
.navbar {
    background-color: #e1dad2;
}

.pets {
    background-color: #070502;
    padding-top: 5%;
}

.p-pets {
    color: aliceblue;
    font-family: 'Rubik', sans-serif;
    font-size: 2rem;
}

.sub-p-pets {
    color: antiquewhite;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}